.Huvudmeny
{
background-image:url("https://img.elo7.com.br/product/original/104A54E/painel-em-lona-minecraft-2x1-minecraft.jpg")
   
}

.PvP
{
    background-image:url("https://static.planetminecraft.com/files/resource_media/screenshot/1335/wallpaper-1934813_6262809_lrg.jpg")
    
     
    
}


.Byggande
{
     background-image:url("https://i.ytimg.com/vi/oqb59XNk0Wg/maxresdefault.jpg")
    
    
    }
